
  .firefly {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 0.4vw;
	height: 0.4vw;
	margin: -0.2vw 0 0 9.8vw;
	animation: ease 200s alternate infinite;
	pointer-events: none;
  }
  .firefly::before, .firefly::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform-origin: -10vw;
  }
  .firefly::before {
	background: black;
	opacity: 0.4;
	animation: drift ease alternate infinite;
  }
  .firefly::after {
	background: white;
	opacity: 0;
	box-shadow: 0 0 0vw 0vw yellow;
	animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
	animation-name: move1;
  }
  .firefly:nth-child(1)::before {
	animation-duration: 14s;
  }
  .firefly:nth-child(1)::after {
	animation-duration: 14s, 8388ms;
	animation-delay: 0ms, 2862ms;
  }
  
  @keyframes move1 {
	0% {
	  transform: translateX(-31vw) translateY(-26vh) scale(0.74);
	}
	4.7619047619% {
	  transform: translateX(9vw) translateY(-35vh) scale(0.79);
	}
	9.5238095238% {
	  transform: translateX(27vw) translateY(-9vh) scale(0.31);
	}
	14.2857142857% {
	  transform: translateX(-47vw) translateY(18vh) scale(0.88);
	}
	19.0476190476% {
	  transform: translateX(13vw) translateY(31vh) scale(0.93);
	}
	23.8095238095% {
	  transform: translateX(-46vw) translateY(-13vh) scale(0.37);
	}
	28.5714285714% {
	  transform: translateX(-4vw) translateY(-5vh) scale(0.66);
	}
	33.3333333333% {
	  transform: translateX(-30vw) translateY(-2vh) scale(0.47);
	}
	38.0952380952% {
	  transform: translateX(1vw) translateY(3vh) scale(0.57);
	}
	42.8571428571% {
	  transform: translateX(2vw) translateY(20vh) scale(0.92);
	}
	47.619047619% {
	  transform: translateX(-44vw) translateY(33vh) scale(0.69);
	}
	52.380952381% {
	  transform: translateX(-3vw) translateY(41vh) scale(0.32);
	}
	57.1428571429% {
	  transform: translateX(14vw) translateY(-15vh) scale(0.44);
	}
	61.9047619048% {
	  transform: translateX(35vw) translateY(46vh) scale(0.86);
	}
	66.6666666667% {
	  transform: translateX(-2vw) translateY(43vh) scale(0.36);
	}
	71.4285714286% {
	  transform: translateX(44vw) translateY(17vh) scale(0.39);
	}
	76.1904761905% {
	  transform: translateX(2vw) translateY(-41vh) scale(0.87);
	}
	80.9523809524% {
	  transform: translateX(-36vw) translateY(-32vh) scale(0.31);
	}
	85.7142857143% {
	  transform: translateX(-17vw) translateY(-21vh) scale(0.82);
	}
	90.4761904762% {
	  transform: translateX(-38vw) translateY(-9vh) scale(0.36);
	}
	95.2380952381% {
	  transform: translateX(25vw) translateY(18vh) scale(0.98);
	}
	100% {
	  transform: translateX(-47vw) translateY(31vh) scale(0.86);
	}
  }
  .firefly:nth-child(2) {
	animation-name: move2;
  }
  .firefly:nth-child(2)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(2)::after {
	animation-duration: 13s, 10727ms;
	animation-delay: 0ms, 4775ms;
  }
  
  @keyframes move2 {
	0% {
	  transform: translateX(-44vw) translateY(-9vh) scale(0.27);
	}
	4.347826087% {
	  transform: translateX(-35vw) translateY(-25vh) scale(0.29);
	}
	8.6956521739% {
	  transform: translateX(24vw) translateY(-48vh) scale(0.35);
	}
	13.0434782609% {
	  transform: translateX(49vw) translateY(20vh) scale(0.34);
	}
	17.3913043478% {
	  transform: translateX(5vw) translateY(38vh) scale(0.37);
	}
	21.7391304348% {
	  transform: translateX(-32vw) translateY(-12vh) scale(0.46);
	}
	26.0869565217% {
	  transform: translateX(-11vw) translateY(-40vh) scale(0.83);
	}
	30.4347826087% {
	  transform: translateX(27vw) translateY(-18vh) scale(0.73);
	}
	34.7826086957% {
	  transform: translateX(-11vw) translateY(-41vh) scale(0.89);
	}
	39.1304347826% {
	  transform: translateX(-43vw) translateY(23vh) scale(0.33);
	}
	43.4782608696% {
	  transform: translateX(-40vw) translateY(-19vh) scale(0.92);
	}
	47.8260869565% {
	  transform: translateX(-29vw) translateY(-14vh) scale(0.89);
	}
	52.1739130435% {
	  transform: translateX(9vw) translateY(-23vh) scale(0.87);
	}
	56.5217391304% {
	  transform: translateX(18vw) translateY(35vh) scale(0.62);
	}
	60.8695652174% {
	  transform: translateX(-27vw) translateY(-4vh) scale(0.62);
	}
	65.2173913043% {
	  transform: translateX(-31vw) translateY(21vh) scale(0.35);
	}
	69.5652173913% {
	  transform: translateX(37vw) translateY(-17vh) scale(0.38);
	}
	73.9130434783% {
	  transform: translateX(-14vw) translateY(0vh) scale(0.76);
	}
	78.2608695652% {
	  transform: translateX(-11vw) translateY(29vh) scale(0.7);
	}
	82.6086956522% {
	  transform: translateX(44vw) translateY(15vh) scale(0.49);
	}
	86.9565217391% {
	  transform: translateX(-16vw) translateY(-6vh) scale(0.74);
	}
	91.3043478261% {
	  transform: translateX(45vw) translateY(-1vh) scale(0.59);
	}
	95.652173913% {
	  transform: translateX(47vw) translateY(-43vh) scale(0.85);
	}
	100% {
	  transform: translateX(-26vw) translateY(-30vh) scale(0.83);
	}
  }
  .firefly:nth-child(3) {
	animation-name: move3;
  }
  .firefly:nth-child(3)::before {
	animation-duration: 12s;
  }
  .firefly:nth-child(3)::after {
	animation-duration: 12s, 7464ms;
	animation-delay: 0ms, 1652ms;
  }
  
  @keyframes move3 {
	0% {
	  transform: translateX(-40vw) translateY(-49vh) scale(0.63);
	}
	5.2631578947% {
	  transform: translateX(-5vw) translateY(-11vh) scale(0.65);
	}
	10.5263157895% {
	  transform: translateX(-11vw) translateY(-27vh) scale(0.93);
	}
	15.7894736842% {
	  transform: translateX(11vw) translateY(-37vh) scale(0.83);
	}
	21.0526315789% {
	  transform: translateX(-27vw) translateY(42vh) scale(0.57);
	}
	26.3157894737% {
	  transform: translateX(13vw) translateY(-40vh) scale(0.63);
	}
	31.5789473684% {
	  transform: translateX(50vw) translateY(-6vh) scale(0.88);
	}
	36.8421052632% {
	  transform: translateX(12vw) translateY(34vh) scale(0.87);
	}
	42.1052631579% {
	  transform: translateX(-36vw) translateY(-28vh) scale(0.46);
	}
	47.3684210526% {
	  transform: translateX(-40vw) translateY(-44vh) scale(0.86);
	}
	52.6315789474% {
	  transform: translateX(29vw) translateY(10vh) scale(0.7);
	}
	57.8947368421% {
	  transform: translateX(-49vw) translateY(24vh) scale(0.55);
	}
	63.1578947368% {
	  transform: translateX(-17vw) translateY(16vh) scale(0.49);
	}
	68.4210526316% {
	  transform: translateX(-14vw) translateY(39vh) scale(0.8);
	}
	73.6842105263% {
	  transform: translateX(-11vw) translateY(-6vh) scale(0.71);
	}
	78.9473684211% {
	  transform: translateX(45vw) translateY(10vh) scale(0.53);
	}
	84.2105263158% {
	  transform: translateX(-11vw) translateY(-1vh) scale(0.58);
	}
	89.4736842105% {
	  transform: translateX(-5vw) translateY(-39vh) scale(0.35);
	}
	94.7368421053% {
	  transform: translateX(-41vw) translateY(-38vh) scale(0.89);
	}
	100% {
	  transform: translateX(-16vw) translateY(10vh) scale(1);
	}
  }
  .firefly:nth-child(4) {
	animation-name: move4;
  }
  .firefly:nth-child(4)::before {
	animation-duration: 18s;
  }
  .firefly:nth-child(4)::after {
	animation-duration: 18s, 7286ms;
	animation-delay: 0ms, 6148ms;
  }
  
  @keyframes move4 {
	0% {
	  transform: translateX(46vw) translateY(-17vh) scale(0.86);
	}
	4.347826087% {
	  transform: translateX(-18vw) translateY(9vh) scale(0.36);
	}
	8.6956521739% {
	  transform: translateX(-9vw) translateY(-19vh) scale(0.4);
	}
	13.0434782609% {
	  transform: translateX(40vw) translateY(-27vh) scale(0.43);
	}
	17.3913043478% {
	  transform: translateX(20vw) translateY(22vh) scale(0.56);
	}
	21.7391304348% {
	  transform: translateX(-18vw) translateY(-20vh) scale(0.53);
	}
	26.0869565217% {
	  transform: translateX(16vw) translateY(-13vh) scale(0.52);
	}
	30.4347826087% {
	  transform: translateX(-49vw) translateY(8vh) scale(0.33);
	}
	34.7826086957% {
	  transform: translateX(45vw) translateY(-6vh) scale(0.62);
	}
	39.1304347826% {
	  transform: translateX(-44vw) translateY(25vh) scale(0.47);
	}
	43.4782608696% {
	  transform: translateX(-47vw) translateY(19vh) scale(0.81);
	}
	47.8260869565% {
	  transform: translateX(-1vw) translateY(-40vh) scale(0.7);
	}
	52.1739130435% {
	  transform: translateX(-42vw) translateY(-40vh) scale(0.35);
	}
	56.5217391304% {
	  transform: translateX(12vw) translateY(-17vh) scale(0.7);
	}
	60.8695652174% {
	  transform: translateX(-23vw) translateY(-13vh) scale(0.26);
	}
	65.2173913043% {
	  transform: translateX(36vw) translateY(-13vh) scale(0.51);
	}
	69.5652173913% {
	  transform: translateX(24vw) translateY(17vh) scale(0.29);
	}
	73.9130434783% {
	  transform: translateX(-28vw) translateY(-20vh) scale(0.36);
	}
	78.2608695652% {
	  transform: translateX(-22vw) translateY(-29vh) scale(0.29);
	}
	82.6086956522% {
	  transform: translateX(21vw) translateY(-37vh) scale(0.95);
	}
	86.9565217391% {
	  transform: translateX(-31vw) translateY(33vh) scale(0.91);
	}
	91.3043478261% {
	  transform: translateX(-29vw) translateY(-24vh) scale(0.48);
	}
	95.652173913% {
	  transform: translateX(-46vw) translateY(-29vh) scale(0.47);
	}
	100% {
	  transform: translateX(-49vw) translateY(-14vh) scale(0.43);
	}
  }
  .firefly:nth-child(5) {
	animation-name: move5;
  }
  .firefly:nth-child(5)::before {
	animation-duration: 14s;
  }
  .firefly:nth-child(5)::after {
	animation-duration: 14s, 5207ms;
	animation-delay: 0ms, 7310ms;
  }
  
  @keyframes move5 {
	0% {
	  transform: translateX(39vw) translateY(-1vh) scale(0.67);
	}
	5.8823529412% {
	  transform: translateX(17vw) translateY(-39vh) scale(0.31);
	}
	11.7647058824% {
	  transform: translateX(29vw) translateY(-28vh) scale(0.75);
	}
	17.6470588235% {
	  transform: translateX(-46vw) translateY(35vh) scale(0.76);
	}
	23.5294117647% {
	  transform: translateX(13vw) translateY(18vh) scale(0.66);
	}
	29.4117647059% {
	  transform: translateX(-19vw) translateY(-3vh) scale(0.98);
	}
	35.2941176471% {
	  transform: translateX(-21vw) translateY(-22vh) scale(0.93);
	}
	41.1764705882% {
	  transform: translateX(-48vw) translateY(31vh) scale(0.59);
	}
	47.0588235294% {
	  transform: translateX(9vw) translateY(-40vh) scale(0.75);
	}
	52.9411764706% {
	  transform: translateX(8vw) translateY(17vh) scale(0.66);
	}
	58.8235294118% {
	  transform: translateX(47vw) translateY(25vh) scale(0.63);
	}
	64.7058823529% {
	  transform: translateX(-3vw) translateY(-25vh) scale(0.37);
	}
	70.5882352941% {
	  transform: translateX(1vw) translateY(3vh) scale(0.51);
	}
	76.4705882353% {
	  transform: translateX(43vw) translateY(-29vh) scale(0.55);
	}
	82.3529411765% {
	  transform: translateX(27vw) translateY(49vh) scale(0.98);
	}
	88.2352941176% {
	  transform: translateX(9vw) translateY(-27vh) scale(0.92);
	}
	94.1176470588% {
	  transform: translateX(31vw) translateY(-19vh) scale(0.87);
	}
	100% {
	  transform: translateX(-20vw) translateY(22vh) scale(0.66);
	}
  }
  .firefly:nth-child(6) {
	animation-name: move6;
  }
  .firefly:nth-child(6)::before {
	animation-duration: 15s;
  }
  .firefly:nth-child(6)::after {
	animation-duration: 15s, 10018ms;
	animation-delay: 0ms, 859ms;
  }
  
  @keyframes move6 {
	0% {
	  transform: translateX(40vw) translateY(-27vh) scale(0.85);
	}
	5% {
	  transform: translateX(-23vw) translateY(-44vh) scale(0.44);
	}
	10% {
	  transform: translateX(35vw) translateY(42vh) scale(0.31);
	}
	15% {
	  transform: translateX(-39vw) translateY(-46vh) scale(0.41);
	}
	20% {
	  transform: translateX(-26vw) translateY(-4vh) scale(0.26);
	}
	25% {
	  transform: translateX(-4vw) translateY(21vh) scale(0.79);
	}
	30% {
	  transform: translateX(19vw) translateY(-24vh) scale(0.38);
	}
	35% {
	  transform: translateX(-27vw) translateY(-14vh) scale(0.52);
	}
	40% {
	  transform: translateX(47vw) translateY(-11vh) scale(0.63);
	}
	45% {
	  transform: translateX(-42vw) translateY(-18vh) scale(0.3);
	}
	50% {
	  transform: translateX(22vw) translateY(-23vh) scale(0.74);
	}
	55% {
	  transform: translateX(17vw) translateY(32vh) scale(0.69);
	}
	60% {
	  transform: translateX(31vw) translateY(10vh) scale(0.82);
	}
	65% {
	  transform: translateX(17vw) translateY(-15vh) scale(0.58);
	}
	70% {
	  transform: translateX(39vw) translateY(44vh) scale(0.57);
	}
	75% {
	  transform: translateX(15vw) translateY(-15vh) scale(0.75);
	}
	80% {
	  transform: translateX(-23vw) translateY(19vh) scale(0.46);
	}
	85% {
	  transform: translateX(30vw) translateY(21vh) scale(0.43);
	}
	90% {
	  transform: translateX(4vw) translateY(10vh) scale(0.26);
	}
	95% {
	  transform: translateX(-36vw) translateY(5vh) scale(0.62);
	}
	100% {
	  transform: translateX(-23vw) translateY(39vh) scale(0.37);
	}
  }
  .firefly:nth-child(7) {
	animation-name: move7;
  }
  .firefly:nth-child(7)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(7)::after {
	animation-duration: 13s, 10000ms;
	animation-delay: 0ms, 3199ms;
  }
  
  @keyframes move7 {
	0% {
	  transform: translateX(32vw) translateY(38vh) scale(0.78);
	}
	3.7037037037% {
	  transform: translateX(-2vw) translateY(-31vh) scale(0.47);
	}
	7.4074074074% {
	  transform: translateX(18vw) translateY(-11vh) scale(0.76);
	}
	11.1111111111% {
	  transform: translateX(40vw) translateY(-25vh) scale(0.5);
	}
	14.8148148148% {
	  transform: translateX(-10vw) translateY(-47vh) scale(0.33);
	}
	18.5185185185% {
	  transform: translateX(-17vw) translateY(-46vh) scale(0.46);
	}
	22.2222222222% {
	  transform: translateX(-37vw) translateY(-45vh) scale(1);
	}
	25.9259259259% {
	  transform: translateX(5vw) translateY(22vh) scale(0.69);
	}
	29.6296296296% {
	  transform: translateX(46vw) translateY(-6vh) scale(0.55);
	}
	33.3333333333% {
	  transform: translateX(-33vw) translateY(37vh) scale(0.87);
	}
	37.037037037% {
	  transform: translateX(-35vw) translateY(-43vh) scale(0.47);
	}
	40.7407407407% {
	  transform: translateX(-17vw) translateY(7vh) scale(0.79);
	}
	44.4444444444% {
	  transform: translateX(27vw) translateY(0vh) scale(0.64);
	}
	48.1481481481% {
	  transform: translateX(-20vw) translateY(-1vh) scale(0.66);
	}
	51.8518518519% {
	  transform: translateX(4vw) translateY(8vh) scale(0.52);
	}
	55.5555555556% {
	  transform: translateX(6vw) translateY(-8vh) scale(0.46);
	}
	59.2592592593% {
	  transform: translateX(7vw) translateY(1vh) scale(0.41);
	}
	62.962962963% {
	  transform: translateX(-15vw) translateY(16vh) scale(0.97);
	}
	66.6666666667% {
	  transform: translateX(-47vw) translateY(-1vh) scale(0.85);
	}
	70.3703703704% {
	  transform: translateX(-20vw) translateY(14vh) scale(0.51);
	}
	74.0740740741% {
	  transform: translateX(-10vw) translateY(-17vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-31vw) translateY(1vh) scale(0.54);
	}
	81.4814814815% {
	  transform: translateX(-19vw) translateY(46vh) scale(0.63);
	}
	85.1851851852% {
	  transform: translateX(-11vw) translateY(47vh) scale(0.49);
	}
	88.8888888889% {
	  transform: translateX(-9vw) translateY(23vh) scale(0.46);
	}
	92.5925925926% {
	  transform: translateX(-2vw) translateY(14vh) scale(0.29);
	}
	96.2962962963% {
	  transform: translateX(-45vw) translateY(35vh) scale(0.77);
	}
	100% {
	  transform: translateX(-42vw) translateY(-15vh) scale(0.39);
	}
  }
  .firefly:nth-child(8) {
	animation-name: move8;
  }
  .firefly:nth-child(8)::before {
	animation-duration: 16s;
  }
  .firefly:nth-child(8)::after {
	animation-duration: 16s, 9573ms;
	animation-delay: 0ms, 6358ms;
  }
  
  @keyframes move8 {
	0% {
	  transform: translateX(16vw) translateY(-18vh) scale(0.84);
	}
	5.2631578947% {
	  transform: translateX(5vw) translateY(-43vh) scale(0.31);
	}
	10.5263157895% {
	  transform: translateX(31vw) translateY(-12vh) scale(0.85);
	}
	15.7894736842% {
	  transform: translateX(-40vw) translateY(48vh) scale(0.33);
	}
	21.0526315789% {
	  transform: translateX(21vw) translateY(-21vh) scale(0.96);
	}
	26.3157894737% {
	  transform: translateX(9vw) translateY(-31vh) scale(0.29);
	}
	31.5789473684% {
	  transform: translateX(48vw) translateY(-13vh) scale(0.35);
	}
	36.8421052632% {
	  transform: translateX(46vw) translateY(12vh) scale(0.56);
	}
	42.1052631579% {
	  transform: translateX(-20vw) translateY(47vh) scale(0.34);
	}
	47.3684210526% {
	  transform: translateX(-25vw) translateY(-45vh) scale(0.42);
	}
	52.6315789474% {
	  transform: translateX(-14vw) translateY(-43vh) scale(0.99);
	}
	57.8947368421% {
	  transform: translateX(31vw) translateY(5vh) scale(0.54);
	}
	63.1578947368% {
	  transform: translateX(-27vw) translateY(39vh) scale(0.33);
	}
	68.4210526316% {
	  transform: translateX(4vw) translateY(-30vh) scale(0.36);
	}
	73.6842105263% {
	  transform: translateX(-16vw) translateY(-32vh) scale(0.27);
	}
	78.9473684211% {
	  transform: translateX(20vw) translateY(-4vh) scale(0.62);
	}
	84.2105263158% {
	  transform: translateX(-8vw) translateY(-40vh) scale(0.28);
	}
	89.4736842105% {
	  transform: translateX(-42vw) translateY(-49vh) scale(0.9);
	}
	94.7368421053% {
	  transform: translateX(23vw) translateY(-29vh) scale(0.89);
	}
	100% {
	  transform: translateX(-25vw) translateY(-1vh) scale(0.95);
	}
  }
  .firefly:nth-child(9) {
	animation-name: move9;
  }
  .firefly:nth-child(9)::before {
	animation-duration: 11s;
  }
  .firefly:nth-child(9)::after {
	animation-duration: 11s, 6771ms;
	animation-delay: 0ms, 3469ms;
  }
  
  @keyframes move9 {
	0% {
	  transform: translateX(-39vw) translateY(-42vh) scale(0.3);
	}
	3.7037037037% {
	  transform: translateX(-44vw) translateY(-13vh) scale(0.79);
	}
	7.4074074074% {
	  transform: translateX(4vw) translateY(25vh) scale(0.83);
	}
	11.1111111111% {
	  transform: translateX(17vw) translateY(-30vh) scale(0.42);
	}
	14.8148148148% {
	  transform: translateX(-9vw) translateY(-29vh) scale(0.74);
	}
	18.5185185185% {
	  transform: translateX(47vw) translateY(-46vh) scale(0.63);
	}
	22.2222222222% {
	  transform: translateX(14vw) translateY(19vh) scale(0.56);
	}
	25.9259259259% {
	  transform: translateX(45vw) translateY(-10vh) scale(0.83);
	}
	29.6296296296% {
	  transform: translateX(14vw) translateY(-2vh) scale(0.33);
	}
	33.3333333333% {
	  transform: translateX(-17vw) translateY(-18vh) scale(0.45);
	}
	37.037037037% {
	  transform: translateX(13vw) translateY(29vh) scale(0.79);
	}
	40.7407407407% {
	  transform: translateX(23vw) translateY(1vh) scale(0.91);
	}
	44.4444444444% {
	  transform: translateX(25vw) translateY(-23vh) scale(0.6);
	}
	48.1481481481% {
	  transform: translateX(-6vw) translateY(-38vh) scale(0.28);
	}
	51.8518518519% {
	  transform: translateX(39vw) translateY(-20vh) scale(0.41);
	}
	55.5555555556% {
	  transform: translateX(-21vw) translateY(-23vh) scale(0.68);
	}
	59.2592592593% {
	  transform: translateX(45vw) translateY(2vh) scale(0.82);
	}
	62.962962963% {
	  transform: translateX(-8vw) translateY(-9vh) scale(0.33);
	}
	66.6666666667% {
	  transform: translateX(18vw) translateY(-13vh) scale(0.29);
	}
	70.3703703704% {
	  transform: translateX(-44vw) translateY(-10vh) scale(0.72);
	}
	74.0740740741% {
	  transform: translateX(-22vw) translateY(38vh) scale(0.43);
	}
	77.7777777778% {
	  transform: translateX(28vw) translateY(-13vh) scale(0.57);
	}
	81.4814814815% {
	  transform: translateX(5vw) translateY(22vh) scale(0.83);
	}
	85.1851851852% {
	  transform: translateX(4vw) translateY(24vh) scale(0.8);
	}
	88.8888888889% {
	  transform: translateX(48vw) translateY(7vh) scale(0.64);
	}
	92.5925925926% {
	  transform: translateX(22vw) translateY(-7vh) scale(0.27);
	}
	96.2962962963% {
	  transform: translateX(16vw) translateY(22vh) scale(0.84);
	}
	100% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.83);
	}
  }
  .firefly:nth-child(10) {
	animation-name: move10;
  }
  .firefly:nth-child(10)::before {
	animation-duration: 17s;
  }
  .firefly:nth-child(10)::after {
	animation-duration: 17s, 6400ms;
	animation-delay: 0ms, 1380ms;
  }
  
  @keyframes move10 {
	0% {
	  transform: translateX(-14vw) translateY(-31vh) scale(0.58);
	}
	3.7037037037% {
	  transform: translateX(-39vw) translateY(-27vh) scale(0.65);
	}
	7.4074074074% {
	  transform: translateX(26vw) translateY(-34vh) scale(0.55);
	}
	11.1111111111% {
	  transform: translateX(-24vw) translateY(-37vh) scale(0.94);
	}
	14.8148148148% {
	  transform: translateX(-13vw) translateY(-11vh) scale(0.92);
	}
	18.5185185185% {
	  transform: translateX(7vw) translateY(7vh) scale(0.44);
	}
	22.2222222222% {
	  transform: translateX(-5vw) translateY(33vh) scale(0.85);
	}
	25.9259259259% {
	  transform: translateX(-4vw) translateY(3vh) scale(0.55);
	}
	29.6296296296% {
	  transform: translateX(13vw) translateY(-39vh) scale(0.63);
	}
	33.3333333333% {
	  transform: translateX(9vw) translateY(-13vh) scale(0.55);
	}
	37.037037037% {
	  transform: translateX(-42vw) translateY(-12vh) scale(0.88);
	}
	40.7407407407% {
	  transform: translateX(22vw) translateY(-33vh) scale(0.27);
	}
	44.4444444444% {
	  transform: translateX(-13vw) translateY(21vh) scale(0.76);
	}
	48.1481481481% {
	  transform: translateX(-36vw) translateY(15vh) scale(0.64);
	}
	51.8518518519% {
	  transform: translateX(10vw) translateY(6vh) scale(0.94);
	}
	55.5555555556% {
	  transform: translateX(-39vw) translateY(50vh) scale(0.93);
	}
	59.2592592593% {
	  transform: translateX(7vw) translateY(33vh) scale(0.73);
	}
	62.962962963% {
	  transform: translateX(-49vw) translateY(45vh) scale(0.72);
	}
	66.6666666667% {
	  transform: translateX(-40vw) translateY(12vh) scale(0.55);
	}
	70.3703703704% {
	  transform: translateX(-42vw) translateY(45vh) scale(0.91);
	}
	74.0740740741% {
	  transform: translateX(30vw) translateY(50vh) scale(0.4);
	}
	77.7777777778% {
	  transform: translateX(32vw) translateY(32vh) scale(0.63);
	}
	81.4814814815% {
	  transform: translateX(14vw) translateY(39vh) scale(0.61);
	}
	85.1851851852% {
	  transform: translateX(-21vw) translateY(-11vh) scale(1);
	}
	88.8888888889% {
	  transform: translateX(49vw) translateY(-39vh) scale(0.61);
	}
	92.5925925926% {
	  transform: translateX(-48vw) translateY(48vh) scale(0.87);
	}
	96.2962962963% {
	  transform: translateX(-49vw) translateY(48vh) scale(0.29);
	}
	100% {
	  transform: translateX(29vw) translateY(43vh) scale(0.6);
	}
  }
  .firefly:nth-child(11) {
	animation-name: move11;
  }
  .firefly:nth-child(11)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(11)::after {
	animation-duration: 13s, 7363ms;
	animation-delay: 0ms, 686ms;
  }
  
  @keyframes move11 {
	0% {
	  transform: translateX(44vw) translateY(-36vh) scale(0.32);
	}
	5.5555555556% {
	  transform: translateX(-8vw) translateY(20vh) scale(0.88);
	}
	11.1111111111% {
	  transform: translateX(-49vw) translateY(-16vh) scale(0.31);
	}
	16.6666666667% {
	  transform: translateX(12vw) translateY(-2vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-38vw) translateY(20vh) scale(0.31);
	}
	27.7777777778% {
	  transform: translateX(25vw) translateY(41vh) scale(0.83);
	}
	33.3333333333% {
	  transform: translateX(-3vw) translateY(28vh) scale(0.59);
	}
	38.8888888889% {
	  transform: translateX(-39vw) translateY(-12vh) scale(0.52);
	}
	44.4444444444% {
	  transform: translateX(-36vw) translateY(-2vh) scale(0.71);
	}
	50% {
	  transform: translateX(3vw) translateY(-21vh) scale(0.5);
	}
	55.5555555556% {
	  transform: translateX(42vw) translateY(-45vh) scale(0.81);
	}
	61.1111111111% {
	  transform: translateX(-2vw) translateY(-43vh) scale(0.64);
	}
	66.6666666667% {
	  transform: translateX(-40vw) translateY(-41vh) scale(0.39);
	}
	72.2222222222% {
	  transform: translateX(-41vw) translateY(49vh) scale(0.55);
	}
	77.7777777778% {
	  transform: translateX(41vw) translateY(-30vh) scale(0.55);
	}
	83.3333333333% {
	  transform: translateX(-49vw) translateY(-39vh) scale(0.83);
	}
	88.8888888889% {
	  transform: translateX(7vw) translateY(-12vh) scale(0.64);
	}
	94.4444444444% {
	  transform: translateX(-3vw) translateY(50vh) scale(0.53);
	}
	100% {
	  transform: translateX(6vw) translateY(21vh) scale(0.77);
	}
  }
  .firefly:nth-child(12) {
	animation-name: move12;
  }
  .firefly:nth-child(12)::before {
	animation-duration: 18s;
  }
  .firefly:nth-child(12)::after {
	animation-duration: 18s, 6433ms;
	animation-delay: 0ms, 665ms;
  }
  
  @keyframes move12 {
	0% {
	  transform: translateX(-2vw) translateY(-2vh) scale(0.72);
	}
	5% {
	  transform: translateX(-49vw) translateY(-48vh) scale(0.41);
	}
	10% {
	  transform: translateX(-16vw) translateY(17vh) scale(0.83);
	}
	15% {
	  transform: translateX(-38vw) translateY(21vh) scale(0.32);
	}
	20% {
	  transform: translateX(-25vw) translateY(20vh) scale(0.44);
	}
	25% {
	  transform: translateX(-29vw) translateY(-25vh) scale(0.59);
	}
	30% {
	  transform: translateX(-13vw) translateY(-7vh) scale(0.67);
	}
	35% {
	  transform: translateX(-16vw) translateY(19vh) scale(0.76);
	}
	40% {
	  transform: translateX(0vw) translateY(-44vh) scale(0.49);
	}
	45% {
	  transform: translateX(45vw) translateY(20vh) scale(0.43);
	}
	50% {
	  transform: translateX(-29vw) translateY(-24vh) scale(0.92);
	}
	55% {
	  transform: translateX(4vw) translateY(-11vh) scale(0.28);
	}
	60% {
	  transform: translateX(-44vw) translateY(8vh) scale(0.41);
	}
	65% {
	  transform: translateX(-1vw) translateY(12vh) scale(0.26);
	}
	70% {
	  transform: translateX(-20vw) translateY(-13vh) scale(0.42);
	}
	75% {
	  transform: translateX(-32vw) translateY(-31vh) scale(0.36);
	}
	80% {
	  transform: translateX(25vw) translateY(-27vh) scale(0.97);
	}
	85% {
	  transform: translateX(50vw) translateY(47vh) scale(0.78);
	}
	90% {
	  transform: translateX(17vw) translateY(20vh) scale(0.81);
	}
	95% {
	  transform: translateX(-4vw) translateY(45vh) scale(0.71);
	}
	100% {
	  transform: translateX(32vw) translateY(47vh) scale(0.53);
	}
  }
  .firefly:nth-child(13) {
	animation-name: move13;
  }
  .firefly:nth-child(13)::before {
	animation-duration: 18s;
  }
  .firefly:nth-child(13)::after {
	animation-duration: 18s, 10152ms;
	animation-delay: 0ms, 957ms;
  }
  
  @keyframes move13 {
	0% {
	  transform: translateX(11vw) translateY(50vh) scale(0.9);
	}
	5.8823529412% {
	  transform: translateX(-5vw) translateY(49vh) scale(0.94);
	}
	11.7647058824% {
	  transform: translateX(43vw) translateY(23vh) scale(0.36);
	}
	17.6470588235% {
	  transform: translateX(-16vw) translateY(-10vh) scale(0.89);
	}
	23.5294117647% {
	  transform: translateX(2vw) translateY(43vh) scale(0.41);
	}
	29.4117647059% {
	  transform: translateX(8vw) translateY(-49vh) scale(0.37);
	}
	35.2941176471% {
	  transform: translateX(41vw) translateY(31vh) scale(0.87);
	}
	41.1764705882% {
	  transform: translateX(38vw) translateY(12vh) scale(0.8);
	}
	47.0588235294% {
	  transform: translateX(-16vw) translateY(0vh) scale(0.78);
	}
	52.9411764706% {
	  transform: translateX(24vw) translateY(45vh) scale(0.9);
	}
	58.8235294118% {
	  transform: translateX(48vw) translateY(15vh) scale(0.66);
	}
	64.7058823529% {
	  transform: translateX(-9vw) translateY(42vh) scale(0.43);
	}
	70.5882352941% {
	  transform: translateX(3vw) translateY(44vh) scale(0.57);
	}
	76.4705882353% {
	  transform: translateX(-39vw) translateY(31vh) scale(0.47);
	}
	82.3529411765% {
	  transform: translateX(35vw) translateY(-8vh) scale(0.59);
	}
	88.2352941176% {
	  transform: translateX(23vw) translateY(-44vh) scale(0.31);
	}
	94.1176470588% {
	  transform: translateX(43vw) translateY(7vh) scale(0.83);
	}
	100% {
	  transform: translateX(29vw) translateY(42vh) scale(0.68);
	}
  }
  .firefly:nth-child(14) {
	animation-name: move14;
  }
  .firefly:nth-child(14)::before {
	animation-duration: 9s;
  }
  .firefly:nth-child(14)::after {
	animation-duration: 9s, 10246ms;
	animation-delay: 0ms, 2703ms;
  }
  
  @keyframes move14 {
	0% {
	  transform: translateX(-44vw) translateY(38vh) scale(0.84);
	}
	4% {
	  transform: translateX(17vw) translateY(7vh) scale(0.66);
	}
	8% {
	  transform: translateX(28vw) translateY(22vh) scale(0.49);
	}
	12% {
	  transform: translateX(-45vw) translateY(-26vh) scale(0.62);
	}
	16% {
	  transform: translateX(44vw) translateY(47vh) scale(0.78);
	}
	20% {
	  transform: translateX(24vw) translateY(-47vh) scale(0.83);
	}
	24% {
	  transform: translateX(43vw) translateY(-47vh) scale(0.55);
	}
	28% {
	  transform: translateX(24vw) translateY(14vh) scale(0.62);
	}
	32% {
	  transform: translateX(32vw) translateY(17vh) scale(0.82);
	}
	36% {
	  transform: translateX(-16vw) translateY(45vh) scale(0.94);
	}
	40% {
	  transform: translateX(-38vw) translateY(1vh) scale(0.74);
	}
	44% {
	  transform: translateX(16vw) translateY(-23vh) scale(0.33);
	}
	48% {
	  transform: translateX(-11vw) translateY(50vh) scale(0.37);
	}
	52% {
	  transform: translateX(27vw) translateY(46vh) scale(0.26);
	}
	56% {
	  transform: translateX(34vw) translateY(36vh) scale(0.39);
	}
	60% {
	  transform: translateX(1vw) translateY(14vh) scale(0.85);
	}
	64% {
	  transform: translateX(5vw) translateY(-14vh) scale(0.38);
	}
	68% {
	  transform: translateX(10vw) translateY(-37vh) scale(0.65);
	}
	72% {
	  transform: translateX(-26vw) translateY(16vh) scale(0.5);
	}
	76% {
	  transform: translateX(-35vw) translateY(47vh) scale(0.9);
	}
	80% {
	  transform: translateX(39vw) translateY(42vh) scale(1);
	}
	84% {
	  transform: translateX(0vw) translateY(-38vh) scale(0.79);
	}
	88% {
	  transform: translateX(18vw) translateY(44vh) scale(0.92);
	}
	92% {
	  transform: translateX(45vw) translateY(8vh) scale(0.93);
	}
	96% {
	  transform: translateX(34vw) translateY(11vh) scale(0.93);
	}
	100% {
	  transform: translateX(2vw) translateY(4vh) scale(0.91);
	}
  }
  .firefly:nth-child(15) {
	animation-name: move15;
  }
  .firefly:nth-child(15)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(15)::after {
	animation-duration: 13s, 9337ms;
	animation-delay: 0ms, 2475ms;
  }
  
  @keyframes move15 {
	0% {
	  transform: translateX(46vw) translateY(49vh) scale(0.46);
	}
	3.7037037037% {
	  transform: translateX(-35vw) translateY(-32vh) scale(0.55);
	}
	7.4074074074% {
	  transform: translateX(-4vw) translateY(-15vh) scale(0.94);
	}
	11.1111111111% {
	  transform: translateX(5vw) translateY(-2vh) scale(0.56);
	}
	14.8148148148% {
	  transform: translateX(25vw) translateY(-18vh) scale(0.9);
	}
	18.5185185185% {
	  transform: translateX(-16vw) translateY(8vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-39vw) translateY(16vh) scale(0.62);
	}
	25.9259259259% {
	  transform: translateX(-48vw) translateY(-22vh) scale(0.27);
	}
	29.6296296296% {
	  transform: translateX(41vw) translateY(-15vh) scale(0.99);
	}
	33.3333333333% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.51);
	}
	37.037037037% {
	  transform: translateX(50vw) translateY(16vh) scale(0.5);
	}
	40.7407407407% {
	  transform: translateX(-20vw) translateY(-37vh) scale(0.45);
	}
	44.4444444444% {
	  transform: translateX(31vw) translateY(1vh) scale(0.4);
	}
	48.1481481481% {
	  transform: translateX(-26vw) translateY(4vh) scale(0.77);
	}
	51.8518518519% {
	  transform: translateX(36vw) translateY(43vh) scale(0.32);
	}
	55.5555555556% {
	  transform: translateX(-44vw) translateY(7vh) scale(0.56);
	}
	59.2592592593% {
	  transform: translateX(40vw) translateY(10vh) scale(0.64);
	}
	62.962962963% {
	  transform: translateX(-9vw) translateY(34vh) scale(0.48);
	}
	66.6666666667% {
	  transform: translateX(21vw) translateY(35vh) scale(0.94);
	}
	70.3703703704% {
	  transform: translateX(-41vw) translateY(33vh) scale(0.73);
	}
	74.0740740741% {
	  transform: translateX(38vw) translateY(37vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-46vw) translateY(-45vh) scale(0.84);
	}
	81.4814814815% {
	  transform: translateX(-11vw) translateY(23vh) scale(0.75);
	}
	85.1851851852% {
	  transform: translateX(-45vw) translateY(37vh) scale(0.43);
	}
	88.8888888889% {
	  transform: translateX(-15vw) translateY(21vh) scale(0.52);
	}
	92.5925925926% {
	  transform: translateX(47vw) translateY(24vh) scale(0.71);
	}
	96.2962962963% {
	  transform: translateX(45vw) translateY(15vh) scale(0.34);
	}
	100% {
	  transform: translateX(18vw) translateY(-41vh) scale(0.58);
	}
  }
  .firefly:nth-child(16) {
	animation-name: move16;
  }
  .firefly:nth-child(16)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(16)::after {
	animation-duration: 13s, 9337ms;
	animation-delay: 0ms, 2475ms;
  }
  
  @keyframes move16 {
	0% {
	  transform: translateX(46vw) translateY(49vh) scale(0.46);
	}
	3.7037037037% {
	  transform: translateX(-35vw) translateY(-32vh) scale(0.55);
	}
	7.4074074074% {
	  transform: translateX(-4vw) translateY(-15vh) scale(0.94);
	}
	11.1111111111% {
	  transform: translateX(5vw) translateY(-2vh) scale(0.56);
	}
	14.8148148148% {
	  transform: translateX(25vw) translateY(-18vh) scale(0.9);
	}
	18.5185185185% {
	  transform: translateX(-16vw) translateY(8vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-39vw) translateY(16vh) scale(0.62);
	}
	25.9259259259% {
	  transform: translateX(-48vw) translateY(-22vh) scale(0.27);
	}
	29.6296296296% {
	  transform: translateX(41vw) translateY(-15vh) scale(0.99);
	}
	33.3333333333% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.51);
	}
	37.037037037% {
	  transform: translateX(50vw) translateY(16vh) scale(0.5);
	}
	40.7407407407% {
	  transform: translateX(-20vw) translateY(-37vh) scale(0.45);
	}
	44.4444444444% {
	  transform: translateX(31vw) translateY(1vh) scale(0.4);
	}
	48.1481481481% {
	  transform: translateX(-26vw) translateY(4vh) scale(0.77);
	}
	51.8518518519% {
	  transform: translateX(36vw) translateY(43vh) scale(0.32);
	}
	55.5555555556% {
	  transform: translateX(-44vw) translateY(7vh) scale(0.56);
	}
	59.2592592593% {
	  transform: translateX(40vw) translateY(10vh) scale(0.64);
	}
	62.962962963% {
	  transform: translateX(-9vw) translateY(34vh) scale(0.48);
	}
	66.6666666667% {
	  transform: translateX(21vw) translateY(35vh) scale(0.94);
	}
	70.3703703704% {
	  transform: translateX(-41vw) translateY(33vh) scale(0.73);
	}
	74.0740740741% {
	  transform: translateX(38vw) translateY(37vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-46vw) translateY(-45vh) scale(0.84);
	}
	81.4814814815% {
	  transform: translateX(-11vw) translateY(23vh) scale(0.75);
	}
	85.1851851852% {
	  transform: translateX(-45vw) translateY(37vh) scale(0.43);
	}
	88.8888888889% {
	  transform: translateX(-15vw) translateY(21vh) scale(0.52);
	}
	92.5925925926% {
	  transform: translateX(47vw) translateY(24vh) scale(0.71);
	}
	96.2962962963% {
	  transform: translateX(45vw) translateY(15vh) scale(0.34);
	}
	100% {
	  transform: translateX(18vw) translateY(-41vh) scale(0.58);
	}
  }

  .firefly:nth-child(17) {
	animation-name: move17;
  }
  .firefly:nth-child(17)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(17)::after {
	animation-duration: 13s, 9337ms;
	animation-delay: 0ms, 2475ms;
  }
  
  @keyframes move17 {
	0% {
	  transform: translateX(46vw) translateY(49vh) scale(0.46);
	}
	3.7037037037% {
	  transform: translateX(-35vw) translateY(-32vh) scale(0.55);
	}
	7.4074074074% {
	  transform: translateX(-4vw) translateY(-15vh) scale(0.94);
	}
	11.1111111111% {
	  transform: translateX(5vw) translateY(-2vh) scale(0.56);
	}
	14.8148148148% {
	  transform: translateX(25vw) translateY(-18vh) scale(0.9);
	}
	18.5185185185% {
	  transform: translateX(-16vw) translateY(8vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-39vw) translateY(16vh) scale(0.62);
	}
	25.9259259259% {
	  transform: translateX(-48vw) translateY(-22vh) scale(0.27);
	}
	29.6296296296% {
	  transform: translateX(41vw) translateY(-15vh) scale(0.99);
	}
	33.3333333333% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.51);
	}
	37.037037037% {
	  transform: translateX(50vw) translateY(16vh) scale(0.5);
	}
	40.7407407407% {
	  transform: translateX(-20vw) translateY(-37vh) scale(0.45);
	}
	44.4444444444% {
	  transform: translateX(31vw) translateY(1vh) scale(0.4);
	}
	48.1481481481% {
	  transform: translateX(-26vw) translateY(4vh) scale(0.77);
	}
	51.8518518519% {
	  transform: translateX(36vw) translateY(43vh) scale(0.32);
	}
	55.5555555556% {
	  transform: translateX(-44vw) translateY(7vh) scale(0.56);
	}
	59.2592592593% {
	  transform: translateX(40vw) translateY(10vh) scale(0.64);
	}
	62.962962963% {
	  transform: translateX(-9vw) translateY(34vh) scale(0.48);
	}
	66.6666666667% {
	  transform: translateX(21vw) translateY(35vh) scale(0.94);
	}
	70.3703703704% {
	  transform: translateX(-41vw) translateY(33vh) scale(0.73);
	}
	74.0740740741% {
	  transform: translateX(38vw) translateY(37vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-46vw) translateY(-45vh) scale(0.84);
	}
	81.4814814815% {
	  transform: translateX(-11vw) translateY(23vh) scale(0.75);
	}
	85.1851851852% {
	  transform: translateX(-45vw) translateY(37vh) scale(0.43);
	}
	88.8888888889% {
	  transform: translateX(-15vw) translateY(21vh) scale(0.52);
	}
	92.5925925926% {
	  transform: translateX(47vw) translateY(24vh) scale(0.71);
	}
	96.2962962963% {
	  transform: translateX(45vw) translateY(15vh) scale(0.34);
	}
	100% {
	  transform: translateX(18vw) translateY(-41vh) scale(0.58);
	}
  }

  .firefly:nth-child(18) {
	animation-name: move18;
  }
  .firefly:nth-child(18)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(18)::after {
	animation-duration: 13s, 9337ms;
	animation-delay: 0ms, 2475ms;
  }
  
  @keyframes move18 {
	0% {
	  transform: translateX(46vw) translateY(49vh) scale(0.46);
	}
	3.7037037037% {
	  transform: translateX(-35vw) translateY(-32vh) scale(0.55);
	}
	7.4074074074% {
	  transform: translateX(-4vw) translateY(-15vh) scale(0.94);
	}
	11.1111111111% {
	  transform: translateX(5vw) translateY(-2vh) scale(0.56);
	}
	14.8148148148% {
	  transform: translateX(25vw) translateY(-18vh) scale(0.9);
	}
	18.5185185185% {
	  transform: translateX(-16vw) translateY(8vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-39vw) translateY(16vh) scale(0.62);
	}
	25.9259259259% {
	  transform: translateX(-48vw) translateY(-22vh) scale(0.27);
	}
	29.6296296296% {
	  transform: translateX(41vw) translateY(-15vh) scale(0.99);
	}
	33.3333333333% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.51);
	}
	37.037037037% {
	  transform: translateX(50vw) translateY(16vh) scale(0.5);
	}
	40.7407407407% {
	  transform: translateX(-20vw) translateY(-37vh) scale(0.45);
	}
	44.4444444444% {
	  transform: translateX(31vw) translateY(1vh) scale(0.4);
	}
	48.1481481481% {
	  transform: translateX(-26vw) translateY(4vh) scale(0.77);
	}
	51.8518518519% {
	  transform: translateX(36vw) translateY(43vh) scale(0.32);
	}
	55.5555555556% {
	  transform: translateX(-44vw) translateY(7vh) scale(0.56);
	}
	59.2592592593% {
	  transform: translateX(40vw) translateY(10vh) scale(0.64);
	}
	62.962962963% {
	  transform: translateX(-9vw) translateY(34vh) scale(0.48);
	}
	66.6666666667% {
	  transform: translateX(21vw) translateY(35vh) scale(0.94);
	}
	70.3703703704% {
	  transform: translateX(-41vw) translateY(33vh) scale(0.73);
	}
	74.0740740741% {
	  transform: translateX(38vw) translateY(37vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-46vw) translateY(-45vh) scale(0.84);
	}
	81.4814814815% {
	  transform: translateX(-11vw) translateY(23vh) scale(0.75);
	}
	85.1851851852% {
	  transform: translateX(-45vw) translateY(37vh) scale(0.43);
	}
	88.8888888889% {
	  transform: translateX(-15vw) translateY(21vh) scale(0.52);
	}
	92.5925925926% {
	  transform: translateX(47vw) translateY(24vh) scale(0.71);
	}
	96.2962962963% {
	  transform: translateX(45vw) translateY(15vh) scale(0.34);
	}
	100% {
	  transform: translateX(18vw) translateY(-41vh) scale(0.58);
	}
  }

  .firefly:nth-child(19) {
	animation-name: move19;
  }
  .firefly:nth-child(19)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(19)::after {
	animation-duration: 13s, 9337ms;
	animation-delay: 0ms, 2475ms;
  }
  
  @keyframes move19 {
	0% {
	  transform: translateX(46vw) translateY(49vh) scale(0.46);
	}
	3.7037037037% {
	  transform: translateX(-35vw) translateY(-32vh) scale(0.55);
	}
	7.4074074074% {
	  transform: translateX(-4vw) translateY(-15vh) scale(0.94);
	}
	11.1111111111% {
	  transform: translateX(5vw) translateY(-2vh) scale(0.56);
	}
	14.8148148148% {
	  transform: translateX(25vw) translateY(-18vh) scale(0.9);
	}
	18.5185185185% {
	  transform: translateX(-16vw) translateY(8vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-39vw) translateY(16vh) scale(0.62);
	}
	25.9259259259% {
	  transform: translateX(-48vw) translateY(-22vh) scale(0.27);
	}
	29.6296296296% {
	  transform: translateX(41vw) translateY(-15vh) scale(0.99);
	}
	33.3333333333% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.51);
	}
	37.037037037% {
	  transform: translateX(50vw) translateY(16vh) scale(0.5);
	}
	40.7407407407% {
	  transform: translateX(-20vw) translateY(-37vh) scale(0.45);
	}
	44.4444444444% {
	  transform: translateX(31vw) translateY(1vh) scale(0.4);
	}
	48.1481481481% {
	  transform: translateX(-26vw) translateY(4vh) scale(0.77);
	}
	51.8518518519% {
	  transform: translateX(36vw) translateY(43vh) scale(0.32);
	}
	55.5555555556% {
	  transform: translateX(-44vw) translateY(7vh) scale(0.56);
	}
	59.2592592593% {
	  transform: translateX(40vw) translateY(10vh) scale(0.64);
	}
	62.962962963% {
	  transform: translateX(-9vw) translateY(34vh) scale(0.48);
	}
	66.6666666667% {
	  transform: translateX(21vw) translateY(35vh) scale(0.94);
	}
	70.3703703704% {
	  transform: translateX(-41vw) translateY(33vh) scale(0.73);
	}
	74.0740740741% {
	  transform: translateX(38vw) translateY(37vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-46vw) translateY(-45vh) scale(0.84);
	}
	81.4814814815% {
	  transform: translateX(-11vw) translateY(23vh) scale(0.75);
	}
	85.1851851852% {
	  transform: translateX(-45vw) translateY(37vh) scale(0.43);
	}
	88.8888888889% {
	  transform: translateX(-15vw) translateY(21vh) scale(0.52);
	}
	92.5925925926% {
	  transform: translateX(47vw) translateY(24vh) scale(0.71);
	}
	96.2962962963% {
	  transform: translateX(45vw) translateY(15vh) scale(0.34);
	}
	100% {
	  transform: translateX(18vw) translateY(-41vh) scale(0.58);
	}
  }

  .firefly:nth-child(20) {
	animation-name: move20;
  }
  .firefly:nth-child(20)::before {
	animation-duration: 13s;
  }
  .firefly:nth-child(20)::after {
	animation-duration: 13s, 9337ms;
	animation-delay: 0ms, 2475ms;
  }
  
  @keyframes move20 {
	0% {
	  transform: translateX(46vw) translateY(49vh) scale(0.46);
	}
	3.7037037037% {
	  transform: translateX(-35vw) translateY(-32vh) scale(0.55);
	}
	7.4074074074% {
	  transform: translateX(-4vw) translateY(-15vh) scale(0.94);
	}
	11.1111111111% {
	  transform: translateX(5vw) translateY(-2vh) scale(0.56);
	}
	14.8148148148% {
	  transform: translateX(25vw) translateY(-18vh) scale(0.9);
	}
	18.5185185185% {
	  transform: translateX(-16vw) translateY(8vh) scale(0.62);
	}
	22.2222222222% {
	  transform: translateX(-39vw) translateY(16vh) scale(0.62);
	}
	25.9259259259% {
	  transform: translateX(-48vw) translateY(-22vh) scale(0.27);
	}
	29.6296296296% {
	  transform: translateX(41vw) translateY(-15vh) scale(0.99);
	}
	33.3333333333% {
	  transform: translateX(-49vw) translateY(-19vh) scale(0.51);
	}
	37.037037037% {
	  transform: translateX(50vw) translateY(16vh) scale(0.5);
	}
	40.7407407407% {
	  transform: translateX(-20vw) translateY(-37vh) scale(0.45);
	}
	44.4444444444% {
	  transform: translateX(31vw) translateY(1vh) scale(0.4);
	}
	48.1481481481% {
	  transform: translateX(-26vw) translateY(4vh) scale(0.77);
	}
	51.8518518519% {
	  transform: translateX(36vw) translateY(43vh) scale(0.32);
	}
	55.5555555556% {
	  transform: translateX(-44vw) translateY(7vh) scale(0.56);
	}
	59.2592592593% {
	  transform: translateX(40vw) translateY(10vh) scale(0.64);
	}
	62.962962963% {
	  transform: translateX(-9vw) translateY(34vh) scale(0.48);
	}
	66.6666666667% {
	  transform: translateX(21vw) translateY(35vh) scale(0.94);
	}
	70.3703703704% {
	  transform: translateX(-41vw) translateY(33vh) scale(0.73);
	}
	74.0740740741% {
	  transform: translateX(38vw) translateY(37vh) scale(0.98);
	}
	77.7777777778% {
	  transform: translateX(-46vw) translateY(-45vh) scale(0.84);
	}
	81.4814814815% {
	  transform: translateX(-11vw) translateY(23vh) scale(0.75);
	}
	85.1851851852% {
	  transform: translateX(-45vw) translateY(37vh) scale(0.43);
	}
	88.8888888889% {
	  transform: translateX(-15vw) translateY(21vh) scale(0.52);
	}
	92.5925925926% {
	  transform: translateX(47vw) translateY(24vh) scale(0.71);
	}
	96.2962962963% {
	  transform: translateX(45vw) translateY(15vh) scale(0.34);
	}
	100% {
	  transform: translateX(18vw) translateY(-41vh) scale(0.58);
	}
  }
  @keyframes drift {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  @keyframes flash {
	0%, 30%, 100% {
	  opacity: 0;
	  box-shadow: 0 0 0vw 0vw yellow;
	}
	5% {
	  opacity: 1;
	  box-shadow: 0 0 2vw 0.4vw yellow;
	}
  }
